.app_wrapper {
  height: 100vh;
  display: grid;

  grid-template-areas:
    "header header header"
    "nav content content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

.app_wrapper_content {
  grid-area: content;
}
